.tag {
  display: inline-block;
  position: relative;
  padding: 8px 20px;
  font-weight: bold;
  text-transform: uppercase;
  // margin-bottom: 10px;
  color: #fff;
  font-size: 12px;
}
.green {
  background-color: #679a23;
}

.blue {
  background-color: #01aef0;
}
