@import "../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 20px 0;

  @media screen and (min-width: $desktop-breakpoint) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.logo {
  font-family: serif;
  font-weight: bolder;
  color: #fff;
  font-size: 30px;

  @media screen and (min-width: 450px) {
    font-size: 50px;
  }
}

.icon {
  width: 30px;
  padding: 4px;
  cursor: pointer;
}

.leftHandSide {
  display: none;
  @media screen and (min-width: $desktop-breakpoint) {
    display: block;
  }
}

.hamburger {
  @media screen and (min-width: $desktop-breakpoint) {
    display: none;
  }

  cursor: pointer;

  &Line {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
  }
}
