@import "../../styles/variables";

.container {
  display: flex;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 5% 0;

  position: relative;
  top: 200px;

  transition: all 1s ease-in-out 200ms;
  opacity: 0;

  &Loaded {
    top: 0;
    opacity: 1;
  }

  height: 900px;
  @media screen and (min-width: $desktop-breakpoint) {
    height: 600px;
  }
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.leftColumn {
  flex: 1;
  @media screen and (min-width: $desktop-breakpoint) {
    flex: 2;
  }
}

.rightColumn {
  display: flex;
  flex-direction: column;

  flex: 2;
  @media screen and (min-width: $desktop-breakpoint) {
    flex: 1;
  }
}

.line {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;

    &Inner {
      height: 1px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
