.box {
  padding: 10px;
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

.menu {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  top: 35px;
  left: -20px;
  background-color: rgb(31, 31, 31);
}

.menuEnter {
  opacity: 0;
  transform: translateY(20px);

  transition: all 200ms ease;
}

.menuEnterActive {
  opacity: 1;

  transform: translateY(0);
  transition: all 200ms ease;
}

.menuExit {
  opacity: 0;
  transform: translateY(20px);
  transition: all 200ms ease;
}

.subMenu {
  padding: 10px 20px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
  transition: color 200ms ease;

  &:hover {
    color: #fff;
  }
}

.arrow {
  border: solid rgba(255, 255, 255, 0.397);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 10px;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}
