.box {
  padding: 10px;
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

.menu {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  // display: none;
  top: 35px;
  left: -20px;
  background-color: rgb(31, 31, 31);
  // min-width: min-content;

  // transiton: opacity 1s ease;
}
.menuEnter {
  opacity: 0;
}

.menuEnterActive {
  opacity: 1;
  transition: opacity 200ms ease;
}

.menuExit {
  opacity: 1;
  opacity: 0;

  transition: opacity 200ms ease;
}

.subMenu {
  padding: 10px 20px;
  white-space: nowrap;
}
