.box {
  max-width: 380px;
  height: 70px;
  margin-bottom: 50px;
  display: flex;
}

.content {
  padding: 3px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta {
  font-size: 13px;
}
