.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(10, 10, 10);
  padding: 5% 15%;
  z-index: 9;
}

.menuEnter {
  opacity: 0;
  transform: translateY(20px);

  transition: all 200ms ease;
}

.menuEnterActive {
  opacity: 1;

  transform: translateY(0);
  transition: all 200ms ease;
}

.menuExit {
  opacity: 0;
  transform: translateY(20px);
  transition: all 200ms ease;
}
