.extra {
  width: 95%;
  max-width: 1200px;

  margin: 0 auto;

  padding: 80px 10px;
}

.upperRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
}

.popular {
  flex: 1;

  @media screen and (min-width: 1300px) {
    flex: 2;
  }
}

.popularPosts {
  display: flex;
  flex-wrap: wrap;
}

.text {
  line-height: 2;
}

.h3 {
  font-family: serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.about {
  flex: 1;
}

.tags {
  text-align: center;
}

.tagsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1000px;
  margin: 0 auto;
}
